@import '~antd/dist/antd.css';

/* .App {
  text-align: center;
} */

.App {
  min-height: 100vh;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}

/* .navigation {
  float: right;
} */

.site-layout .site-layout-background {
  background: #fff;
}
